---
openapi: 3.0.3
info:
  title: DIDWW Public API
  version: '2026-04-16'
  description: |
    JSONAPI interface to the DIDWW platform: browse coverage, order and manage DIDs,
    route them to voice trunks, and reserve numbers before purchase.

    Every request is authenticated with an `api-key` header. Versions are selected
    per request with the `X-DIDWW-Api-Version` header, defaulting to the
    version configured for the API key's customer; this document describes
    `2026-04-16`.

    Response schemas describe the full resource. A request narrowing one with
    `fields[...]` receives fewer members than its schema lists, deliberately:
    OpenAPI cannot express a member that is required only until a query
    parameter prunes it.
  contact:
    name: DIDWW Support
    email: support@didww.com
  termsOfService: https://www.didww.com/DIDWW-Terms-and-Agreements
externalDocs:
  description: DIDWW API documentation
  url: https://doc.didww.com/api3/2026-04-16/
tags:
- name: Coverage
  description: Countries, regions, cities and areas DIDWW sells numbers in, and the points of presence that serve them.
- name: DID groups
  description: Groups of numbers sharing a price and a set of capabilities, and the individual numbers available within them.
- name: DID reservations
  description: Short-lived holds that keep a number available while an order is prepared.
- name: Orders
  description: Purchases of numbers and of channel capacity.
- name: DIDs
  description: The numbers the account owns, and how each one is routed.
- name: Account
  description: Balance, the ownership history of a number, and the export jobs that deliver call detail records.
- name: Capacity
  description: Channel pools and the shared capacity groups that draw on them.
- name: Voice IN trunks
  description: Where inbound calls are delivered, and the groups that spread them over several destinations.
- name: Voice OUT trunks
  description: 'Outbound calling: credentials, allowed sources and the default number presented to the called party.'
- name: Regulation
  description: Identities, addresses and documents. Many countries release a number only once the paperwork behind it has been approved.
- name: Address verifications
  description: Submissions of an identity and an address for approval against the requirements of a number.
- name: Emergency
  description: 'Emergency calling: what a country requires, validating a submission against it, and the service that results.'
servers:
- url: https://api.didww.com/v3
  description: Production
- url: https://sandbox-api.didww.com/v3
  description: Sandbox
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api-key
      in: header
      description: API key issued to the customer in the DIDWW user panel.
  schemas:
    Meta:
      type: object
      required:
      - api_version
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
    CollectionMeta:
      type: object
      required:
      - api_version
      - total_records
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_records:
          type: integer
          description: Total number of records matching the request.
    RelationshipLinks:
      type: object
      required:
      - self
      - related
      properties:
        self:
          type: string
          format: uri
          description: Relationship linkage endpoint. Not routed for the emergency types.
        related:
          type: string
          format: uri
          description: Related resource endpoint. Not routed for the emergency types.
    PaginationLinks:
      type: object
      description: Pagination links. `next` / `prev` are omitted at the respective ends of the collection.
      required:
      - first
      - last
      properties:
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        next:
          type: string
          format: uri
        prev:
          type: string
          format: uri
    Error:
      type: object
      required:
      - title
      - detail
      - code
      - status
      properties:
        title:
          type: string
          example: Filter not allowed
        detail:
          type: string
          example: bogus is not allowed.
        code:
          type: string
          description: 'JSONAPI error code. Not an HTTP status: `100` is a validation error, `102` a disallowed filter, `106` a missing parameter, and so on.'
          example: '102'
        status:
          type: string
          description: HTTP status as a string.
          example: '400'
        source:
          type: object
          description: Points at the part of the request that caused the error. Present on validation errors.
          required:
          - pointer
          properties:
            pointer:
              type: string
              example: "/data/attributes/capacity_limit"
        meta:
          type: object
          description: Error-specific details. Carried by a few errors (e.g. insufficient balance).
    ErrorsDocument:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            "$ref": "#/components/schemas/Error"
    AddressIdentifier:
      type: object
      description: Identifier of an `addresses` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - addresses
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    AddressIdentifierNullable:
      type: object
      description: Identifier of an `addresses` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - addresses
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    AddressRequirementIdentifier:
      type: object
      description: Identifier of an `address_requirements` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - address_requirements
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    AddressRequirementIdentifierNullable:
      type: object
      description: Identifier of an `address_requirements` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - address_requirements
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    AddressRequirementToOne:
      type: object
      description: Relationship to an `address_requirements` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/AddressRequirementIdentifierNullable"
    AddressToMany:
      type: object
      description: Relationship to an `addresses` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/AddressIdentifier"
    AddressToOne:
      type: object
      description: Relationship to an `addresses` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/AddressIdentifierNullable"
    AddressVerificationIdentifierNullable:
      type: object
      description: Identifier of an `address_verifications` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - address_verifications
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    AddressVerificationToOne:
      type: object
      description: Relationship to an `address_verifications` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/AddressVerificationIdentifierNullable"
    AreaIdentifierNullable:
      type: object
      description: Identifier of an `areas` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - areas
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    AreaToOne:
      type: object
      description: Relationship to an `areas` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/AreaIdentifierNullable"
    AvailableDidIdentifier:
      type: object
      description: Identifier of an `available_dids` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - available_dids
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    AvailableDidIdentifierNullable:
      type: object
      description: Identifier of an `available_dids` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - available_dids
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    AvailableDidToOne:
      type: object
      description: Relationship to an `available_dids` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/AvailableDidIdentifierNullable"
    CapacityPoolIdentifier:
      type: object
      description: Identifier of a `capacity_pools` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - capacity_pools
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    CapacityPoolIdentifierNullable:
      type: object
      description: Identifier of a `capacity_pools` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - capacity_pools
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    CapacityPoolToOne:
      type: object
      description: Relationship to a `capacity_pools` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/CapacityPoolIdentifierNullable"
    CityIdentifierNullable:
      type: object
      description: Identifier of a `cities` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - cities
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    CityToOne:
      type: object
      description: Relationship to a `cities` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/CityIdentifierNullable"
    CountryIdentifier:
      type: object
      description: Identifier of a `countries` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - countries
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    CountryIdentifierNullable:
      type: object
      description: Identifier of a `countries` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - countries
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    CountryToMany:
      type: object
      description: Relationship to a `countries` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/CountryIdentifier"
    CountryToOne:
      type: object
      description: Relationship to a `countries` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/CountryIdentifierNullable"
    DidGroupIdentifierNullable:
      type: object
      description: Identifier of a `did_groups` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - did_groups
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    DidGroupToOne:
      type: object
      description: Relationship to a `did_groups` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/DidGroupIdentifierNullable"
    DidGroupTypeIdentifierNullable:
      type: object
      description: Identifier of a `did_group_types` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - did_group_types
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    DidGroupTypeToOne:
      type: object
      description: Relationship to a `did_group_types` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/DidGroupTypeIdentifierNullable"
    DidIdentifier:
      type: object
      description: Identifier of a `dids` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - dids
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    DidIdentifierNullable:
      type: object
      description: Identifier of a `dids` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - dids
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    DidToMany:
      type: object
      description: Relationship to a `dids` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidIdentifier"
    EmergencyCallingServiceIdentifier:
      type: object
      description: Identifier of an `emergency_calling_services` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - emergency_calling_services
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    EmergencyCallingServiceIdentifierNullable:
      type: object
      description: Identifier of an `emergency_calling_services` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - emergency_calling_services
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    EmergencyCallingServiceToOne:
      type: object
      description: Relationship to an `emergency_calling_services` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/EmergencyCallingServiceIdentifierNullable"
    EmergencyRequirementIdentifier:
      type: object
      description: Identifier of an `emergency_requirements` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - emergency_requirements
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    EmergencyRequirementIdentifierNullable:
      type: object
      description: Identifier of an `emergency_requirements` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - emergency_requirements
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    EmergencyRequirementToOne:
      type: object
      description: Relationship to an `emergency_requirements` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/EmergencyRequirementIdentifierNullable"
    EmergencyVerificationIdentifierNullable:
      type: object
      description: Identifier of an `emergency_verifications` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - emergency_verifications
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    EmergencyVerificationToOne:
      type: object
      description: Relationship to an `emergency_verifications` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/EmergencyVerificationIdentifierNullable"
    EncryptedFileIdentifier:
      type: object
      description: Identifier of an `encrypted_files` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - encrypted_files
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    IdentityIdentifier:
      type: object
      description: Identifier of an `identities` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - identities
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    IdentityIdentifierNullable:
      type: object
      description: Identifier of an `identities` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - identities
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    IdentityToOne:
      type: object
      description: Relationship to an `identities` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/IdentityIdentifierNullable"
    NanpaPrefixIdentifierNullable:
      type: object
      description: Identifier of a `nanpa_prefixes` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - nanpa_prefixes
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    NanpaPrefixToOne:
      type: object
      description: Relationship to a `nanpa_prefixes` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/NanpaPrefixIdentifierNullable"
    OrderIdentifierNullable:
      type: object
      description: Identifier of an `orders` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - orders
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    OrderToOne:
      type: object
      description: Relationship to an `orders` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/OrderIdentifierNullable"
    PermanentSupportingDocumentIdentifier:
      type: object
      description: Identifier of a `permanent_supporting_documents` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - permanent_supporting_documents
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    PermanentSupportingDocumentToMany:
      type: object
      description: Relationship to a `permanent_supporting_documents` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PermanentSupportingDocumentIdentifier"
    PopIdentifierNullable:
      type: object
      description: Identifier of a `pops` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - pops
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    PopToOne:
      type: object
      description: Relationship to a `pops` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/PopIdentifierNullable"
    ProofEntityIdentifier:
      type: object
      description: Identifier of an `identities` or `addresses` resource.
      oneOf:
      - "$ref": "#/components/schemas/IdentityIdentifier"
      - "$ref": "#/components/schemas/AddressIdentifier"
      discriminator:
        propertyName: type
        mapping:
          identities: "#/components/schemas/IdentityIdentifier"
          addresses: "#/components/schemas/AddressIdentifier"
    ProofEntityIdentifierNullable:
      type: object
      description: Identifier of an `identities` or `addresses` resource. `null` when nothing is related.
      oneOf:
      - "$ref": "#/components/schemas/IdentityIdentifier"
      - "$ref": "#/components/schemas/AddressIdentifier"
      discriminator:
        propertyName: type
        mapping:
          identities: "#/components/schemas/IdentityIdentifier"
          addresses: "#/components/schemas/AddressIdentifier"
      nullable: true
    ProofEntityToOne:
      type: object
      description: Relationship to an `identities` or `addresses` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/ProofEntityIdentifierNullable"
    ProofIdentifier:
      type: object
      description: Identifier of a `proofs` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - proofs
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    ProofToMany:
      type: object
      description: Relationship to a `proofs` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ProofIdentifier"
    ProofTypeIdentifier:
      type: object
      description: Identifier of a `proof_types` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - proof_types
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    ProofTypeIdentifierNullable:
      type: object
      description: Identifier of a `proof_types` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - proof_types
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    ProofTypeToMany:
      type: object
      description: Relationship to a `proof_types` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ProofTypeIdentifier"
    ProofTypeToOne:
      type: object
      description: Relationship to a `proof_types` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/ProofTypeIdentifierNullable"
    QtyBasedPricingIdentifier:
      type: object
      description: Identifier of a `qty_based_pricings` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - qty_based_pricings
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    QtyBasedPricingToMany:
      type: object
      description: Relationship to a `qty_based_pricings` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/QtyBasedPricingIdentifier"
    RegionIdentifier:
      type: object
      description: Identifier of a `regions` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - regions
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    RegionIdentifierNullable:
      type: object
      description: Identifier of a `regions` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - regions
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    RegionToMany:
      type: object
      description: Relationship to a `regions` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/RegionIdentifier"
    RegionToOne:
      type: object
      description: Relationship to a `regions` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/RegionIdentifierNullable"
    SharedCapacityGroupIdentifier:
      type: object
      description: Identifier of a `shared_capacity_groups` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - shared_capacity_groups
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    SharedCapacityGroupIdentifierNullable:
      type: object
      description: Identifier of a `shared_capacity_groups` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - shared_capacity_groups
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    SharedCapacityGroupToMany:
      type: object
      description: Relationship to a `shared_capacity_groups` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/SharedCapacityGroupIdentifier"
    SharedCapacityGroupToOne:
      type: object
      description: Relationship to a `shared_capacity_groups` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/SharedCapacityGroupIdentifierNullable"
    StockKeepingUnitIdentifier:
      type: object
      description: Identifier of a `stock_keeping_units` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - stock_keeping_units
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    StockKeepingUnitToMany:
      type: object
      description: Relationship to a `stock_keeping_units` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/StockKeepingUnitIdentifier"
    SupportingDocumentTemplateIdentifier:
      type: object
      description: Identifier of a `supporting_document_templates` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - supporting_document_templates
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    SupportingDocumentTemplateIdentifierNullable:
      type: object
      description: Identifier of a `supporting_document_templates` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - supporting_document_templates
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    SupportingDocumentTemplateToOne:
      type: object
      description: Relationship to a `supporting_document_templates` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/SupportingDocumentTemplateIdentifierNullable"
    VoiceInTrunkGroupIdentifierNullable:
      type: object
      description: Identifier of a `voice_in_trunk_groups` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - voice_in_trunk_groups
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    VoiceInTrunkGroupToOne:
      type: object
      description: Relationship to a `voice_in_trunk_groups` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/VoiceInTrunkGroupIdentifierNullable"
    VoiceInTrunkIdentifier:
      type: object
      description: Identifier of a `voice_in_trunks` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - voice_in_trunks
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    VoiceInTrunkIdentifierNullable:
      type: object
      description: Identifier of a `voice_in_trunks` resource. `null` when nothing is related.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - voice_in_trunks
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
      nullable: true
    VoiceInTrunkToMany:
      type: object
      description: Relationship to a `voice_in_trunks` resources. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          items:
            "$ref": "#/components/schemas/VoiceInTrunkIdentifier"
    VoiceInTrunkToOne:
      type: object
      description: Relationship to a `voice_in_trunks` resource. `data` is present only when the relationship is requested with `include`.
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/VoiceInTrunkIdentifierNullable"
    VoiceOutTrunkIdentifier:
      type: object
      description: Identifier of a `voice_out_trunks` resource.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - voice_out_trunks
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    PublicKey:
      type: object
      description: 'An RSA public key for encrypting regulation file uploads. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - public_keys
        attributes:
          type: object
          required:
          - key
          properties:
            key:
              type: string
              description: PEM-encoded RSA public key.
              example: |
                -----BEGIN PUBLIC KEY-----
                ...
                -----END PUBLIC KEY-----
              readOnly: true
    PublicKeyCollectionDocument:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PublicKey"
    Country:
      type: object
      description: 'A country DIDWW has, or may have, coverage in. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - countries
        attributes:
          type: object
          required:
          - name
          - prefix
          - iso
          properties:
            name:
              type: string
              example: United Kingdom
              readOnly: true
            prefix:
              type: string
              nullable: true
              description: International dialling prefix, without a leading `+`.
              example: '44'
              readOnly: true
            iso:
              type: string
              description: ISO 3166-1 alpha-2 code.
              example: GB
              readOnly: true
        relationships:
          type: object
          required:
          - regions
          properties:
            regions:
              "$ref": "#/components/schemas/RegionToMany"
    CountryDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Country"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    CountryCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Country"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    Region:
      type: object
      description: 'A region (state, province) of a country. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - regions
        attributes:
          type: object
          required:
          - name
          - iso
          properties:
            name:
              type: string
              example: California
              readOnly: true
            iso:
              type: string
              nullable: true
              description: ISO 3166-2 subdivision code, including the country part.
              example: US-CA
              readOnly: true
        relationships:
          type: object
          required:
          - country
          properties:
            country:
              "$ref": "#/components/schemas/CountryToOne"
    RegionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Region"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    RegionCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Region"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    City:
      type: object
      description: 'A city DIDWW has, or may have, coverage in. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - cities
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: London
              readOnly: true
        relationships:
          type: object
          required:
          - country
          - region
          - area
          properties:
            country:
              "$ref": "#/components/schemas/CountryToOne"
            region:
              "$ref": "#/components/schemas/RegionToOne"
            area:
              "$ref": "#/components/schemas/AreaToOne"
    CityDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/City"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    CityCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/City"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Area:
      type: object
      description: 'A regulatory area within a country. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - areas
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Greater London
              readOnly: true
        relationships:
          type: object
          required:
          - country
          properties:
            country:
              "$ref": "#/components/schemas/CountryToOne"
    AreaDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Area"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    AreaCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Area"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Pop:
      type: object
      description: 'A DIDWW point of presence. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - pops
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Frankfurt
              readOnly: true
    PopCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Pop"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupType:
      type: object
      description: 'The kind of number a DID group offers. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_group_types
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Local
              readOnly: true
    DidGroupTypeDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidGroupType"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupTypeCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidGroupType"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidGroup:
      type: object
      description: 'A block of numbers sharing a country, city, type and prefix. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      - meta
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_groups
        attributes:
          type: object
          required:
          - prefix
          - area_name
          - features
          - is_metered
          - allow_additional_channels
          - service_restrictions
          properties:
            prefix:
              type: string
              description: Dialling prefix of the group, without the country code — prepend the country's own `prefix` to dial it.
              example: '20'
              readOnly: true
            area_name:
              type: string
              description: Human-readable area the group covers.
              example: London
              readOnly: true
            features:
              type: array
              description: Services the numbers in this group support.
              items:
                type: string
                enum:
                - voice_in
                - voice_out
                - t38
                - sms_in
                - p2p
                - a2p
                - emergency
                - cnam_out
              readOnly: true
            is_metered:
              type: boolean
              description: True when inbound minutes are billed per minute rather than included.
              readOnly: true
            allow_additional_channels:
              type: boolean
              description: True when extra channels can be bought for a DID from this group.
              readOnly: true
            service_restrictions:
              type: string
              nullable: true
              description: Restrictions that apply to numbers in this group, if any.
              readOnly: true
        relationships:
          type: object
          required:
          - country
          - city
          - did_group_type
          - region
          - stock_keeping_units
          - address_requirement
          properties:
            country:
              "$ref": "#/components/schemas/CountryToOne"
            city:
              "$ref": "#/components/schemas/CityToOne"
            did_group_type:
              "$ref": "#/components/schemas/DidGroupTypeToOne"
            region:
              "$ref": "#/components/schemas/RegionToOne"
            stock_keeping_units:
              "$ref": "#/components/schemas/StockKeepingUnitToMany"
            address_requirement:
              "$ref": "#/components/schemas/AddressRequirementToOne"
        meta:
          type: object
          properties:
            available_dids_enabled:
              type: boolean
              description: True when specific numbers from this group can be picked through /available_dids rather than bought in bulk.
            needs_registration:
              type: boolean
              description: True when buying from this group requires a verified address.
            is_available:
              type: boolean
              description: True when numbers are currently in stock.
            total_count:
              type: integer
              description: Numbers currently in stock.
          required:
          - available_dids_enabled
    DidGroupDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidGroup"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidGroup"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    StockKeepingUnit:
      type: object
      description: 'A priced offer within a DID group — what an order item buys. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - stock_keeping_units
        attributes:
          type: object
          required:
          - setup_price
          - monthly_price
          - channels_included_count
          properties:
            setup_price:
              type: string
              description: One-off charge, VAT excluded, as a decimal string.
              example: '2.00'
              readOnly: true
            monthly_price:
              type: string
              description: Recurring monthly charge, VAT excluded, as a decimal string.
              example: '1.50'
              readOnly: true
            channels_included_count:
              type: integer
              description: Simultaneous calls included in the monthly price.
              readOnly: true
    NanpaPrefix:
      type: object
      description: 'A NANPA NPA-NXX prefix. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - nanpa_prefixes
        attributes:
          type: object
          required:
          - npa
          - nxx
          properties:
            npa:
              type: string
              description: Area code.
              pattern: "^[2-9]\\d\\d$"
              example: '212'
              readOnly: true
            nxx:
              type: string
              description: Central office code.
              pattern: "^(?!\\d11$)[2-9]\\d{2}$"
              example: '555'
              readOnly: true
        relationships:
          type: object
          required:
          - country
          - region
          properties:
            country:
              "$ref": "#/components/schemas/CountryToOne"
            region:
              "$ref": "#/components/schemas/RegionToOne"
    NanpaPrefixDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/NanpaPrefix"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/Meta"
    NanpaPrefixCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/NanpaPrefix"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    AvailableDid:
      type: object
      description: 'A specific number currently in stock and orderable. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - available_dids
        attributes:
          type: object
          required:
          - number
          properties:
            number:
              type: string
              description: Full number in E.164 without the leading `+`.
              example: '442037691880'
              readOnly: true
        relationships:
          type: object
          required:
          - did_group
          - nanpa_prefix
          properties:
            did_group:
              "$ref": "#/components/schemas/DidGroupToOne"
            nanpa_prefix:
              "$ref": "#/components/schemas/NanpaPrefixToOne"
    AvailableDidDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/AvailableDid"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/Meta"
    AvailableDidCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/AvailableDid"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/AvailableDidCollectionMeta"
    AvailableDidCollectionMeta:
      type: object
      required:
      - api_version
      - total_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_count:
          type: integer
          description: Numbers matching the filters. The response itself is capped, so this can exceed the size of `data`.
    DidReservation:
      type: object
      description: 'A hold on an available DID. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_reservations
        attributes:
          type: object
          required:
          - description
          - created_at
          - expires_at
          properties:
            description:
              type: string
              nullable: true
              description: Free-form customer note.
            created_at:
              type: string
              format: date-time
              readOnly: true
            expires_at:
              type: string
              format: date-time
              description: When the hold lapses and the number returns to the pool.
              readOnly: true
        relationships:
          type: object
          required:
          - available_did
          properties:
            available_did:
              "$ref": "#/components/schemas/AvailableDidToOne"
    DidReservationDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/DidReservationMeta"
    DidReservationMeta:
      type: object
      required:
      - api_version
      - available_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        available_count:
          type: integer
          description: Reservations still available to the customer under its numbers-selection plan.
    DidReservationCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/DidReservationCollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidReservationCollectionMeta:
      type: object
      required:
      - api_version
      - total_records
      - available_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_records:
          type: integer
          description: Total number of records matching the request.
        available_count:
          type: integer
          description: Reservations still available to the customer under its numbers-selection plan.
    DidReservationCreatedDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidReservationCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - relationships
          properties:
            type:
              type: string
              enum:
              - did_reservations
            attributes:
              type: object
              properties:
                description:
                  type: string
                  nullable: true
                  description: Free-form customer note.
            relationships:
              type: object
              properties:
                available_did:
                  type: object
                  description: The number to hold.
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/AvailableDidIdentifier"
              required:
              - available_did
    Did:
      type: object
      description: 'A DID owned by the customer. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - dids
        attributes:
          type: object
          required:
          - number
          - description
          - blocked
          - awaiting_registration
          - terminated
          - emergency_enabled
          - capacity_limit
          - channels_included_count
          - dedicated_channels_count
          - billing_cycles_count
          - created_at
          - expires_at
          properties:
            number:
              type: string
              description: Full DID number in E.164 without the leading `+`.
              example: '442037691880'
              readOnly: true
            description:
              type: string
              nullable: true
              description: Free-form customer note.
            blocked:
              type: boolean
              description: True while the DID cannot receive traffic — blocked by the customer, blocked by DIDWW, or awaiting registration.
              readOnly: true
            awaiting_registration:
              type: boolean
              description: True while the DID is waiting for regulatory registration to complete.
              readOnly: true
            terminated:
              type: boolean
              description: True once the DID has been cancelled. Set it to `true` to cancel the DID, back to `false` to restore it.
            emergency_enabled:
              type: boolean
              description: True when emergency calling is active on the DID.
              readOnly: true
            capacity_limit:
              type: integer
              nullable: true
              description: Maximum number of simultaneous calls. Null means no per-DID limit.
              minimum: 1
              maximum: 32767
            channels_included_count:
              type: integer
              description: Channels included with the DID by its DID group.
              readOnly: true
            dedicated_channels_count:
              type: integer
              description: Additional channels purchased exclusively for this DID.
            billing_cycles_count:
              type: integer
              nullable: true
              description: Number of billing cycles left before the DID is released. Null means the DID renews indefinitely; `0` means it is pending removal.
              minimum: 0
              maximum: 999
            created_at:
              type: string
              format: date-time
              readOnly: true
            expires_at:
              type: string
              format: date-time
              nullable: true
              description: End of the current billing period.
              readOnly: true
        relationships:
          type: object
          required:
          - did_group
          - order
          - capacity_pool
          - shared_capacity_group
          - address_verification
          - voice_in_trunk
          - voice_in_trunk_group
          - emergency_calling_service
          - emergency_verification
          - identity
          properties:
            did_group:
              "$ref": "#/components/schemas/DidGroupToOne"
            order:
              "$ref": "#/components/schemas/OrderToOne"
            capacity_pool:
              "$ref": "#/components/schemas/CapacityPoolToOne"
            shared_capacity_group:
              "$ref": "#/components/schemas/SharedCapacityGroupToOne"
            address_verification:
              "$ref": "#/components/schemas/AddressVerificationToOne"
            voice_in_trunk:
              "$ref": "#/components/schemas/VoiceInTrunkToOne"
            voice_in_trunk_group:
              "$ref": "#/components/schemas/VoiceInTrunkGroupToOne"
            emergency_calling_service:
              "$ref": "#/components/schemas/EmergencyCallingServiceToOne"
            emergency_verification:
              "$ref": "#/components/schemas/EmergencyVerificationToOne"
            identity:
              "$ref": "#/components/schemas/IdentityToOne"
    DidDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Did"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyVerification"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Did"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyVerification"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidUpdateRequest:
      type: object
      description: A DID can be routed to a voice_in_trunk or a voice_in_trunk_group, never both.
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            type:
              type: string
              enum:
              - dids
            id:
              type: string
              format: uuid
              example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
            attributes:
              type: object
              properties:
                capacity_limit:
                  type: integer
                  nullable: true
                  description: Maximum number of simultaneous calls. Null means no per-DID limit.
                  minimum: 1
                  maximum: 32767
                description:
                  type: string
                  nullable: true
                  description: Free-form customer note.
                terminated:
                  type: boolean
                  description: True once the DID has been cancelled. Set it to `true` to cancel the DID, back to `false` to restore it.
                billing_cycles_count:
                  type: integer
                  nullable: true
                  description: Number of billing cycles left before the DID is released. Null means the DID renews indefinitely; `0` means it is pending removal.
                  minimum: 0
                  maximum: 999
                dedicated_channels_count:
                  type: integer
                  description: Additional channels purchased exclusively for this DID.
            relationships:
              type: object
              properties:
                capacity_pool:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/CapacityPoolIdentifierNullable"
                shared_capacity_group:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/SharedCapacityGroupIdentifierNullable"
                voice_in_trunk:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/VoiceInTrunkIdentifierNullable"
                voice_in_trunk_group:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/VoiceInTrunkGroupIdentifierNullable"
                address_verification:
                  type: object
                  description: 'Send `data: null` to detach it. A DID cannot be attached to one this way.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/AddressVerificationIdentifierNullable"
                emergency_calling_service:
                  type: object
                  description: 'Send `data: null` to detach it. A DID cannot be attached to one this way.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/EmergencyCallingServiceIdentifierNullable"
    DidHistory:
      type: object
      description: 'One recorded change to a DID. Retained for the last 90 days. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_history
        attributes:
          type: object
          required:
          - did_number
          - action
          - method
          - created_at
          properties:
            did_number:
              type: string
              nullable: true
              description: The number the entry is about, in E.164 without the leading `+`.
              example: '442037691880'
              readOnly: true
            action:
              type: string
              description: What happened.
              enum:
              - assigned
              - renewed
              - canceled
              - removed
              - billing_cycles_count_changed
              - restored
              readOnly: true
            method:
              type: string
              description: How it happened — which interface performed the change.
              enum:
              - system
              - api2
              - api3
              - staff
              - user_panel
              - mcp
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
        meta:
          type: object
          properties:
            from:
              type: string
              nullable: true
              description: Previous value.
            to:
              type: string
              nullable: true
              description: New value.
    DidHistoryDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidHistory"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidHistoryCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidHistory"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Order:
      type: object
      description: 'An order. Orders have no relationships; their contents live in `items`. Describes the full resource: a response to a request carrying `fields[...]` omits the members it did not ask for.'
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - orders
        attributes:
          type: object
          required:
          - reference
          - description
          - amount
          - status
          - created_at
          - callback_url
          - callback_method
          - external_reference_id
          - items
          properties:
            reference:
              type: string
              description: Human-readable order reference.
              example: KTH-650932
              readOnly: true
            description:
              type: string
              description: What was ordered.
              example: DID
              readOnly: true
            amount:
              type: string
              description: Total charged, VAT included, as a decimal string.
              example: '3.6'
              readOnly: true
            status:
              type: string
              enum:
              - pending
              - completed
              - canceled
              description: "`pending` while the order is being fulfilled."
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            callback_url:
              type: string
              nullable: true
              description: URL notified when the order completes. A value with no scheme is accepted and read as `http://`; only `http` and `https` are allowed.
              format: uri
            callback_method:
              type: string
              nullable: true
              enum:
              - get
              - post
              -
              description: HTTP method used for the callback.
            external_reference_id:
              type: string
              nullable: true
              description: Customer's own identifier for the order.
              maxLength: 100
            items:
              type: array
              description: What the order consists of.
              items:
                description: An ordered item. The shape of `attributes` is determined by `type`.
                anyOf:
                - "$ref": "#/components/schemas/DidOrderItem"
                - "$ref": "#/components/schemas/CapacityOrderItem"
                - "$ref": "#/components/schemas/EmergencyOrderItem"
                - "$ref": "#/components/schemas/GenericOrderItem"
                discriminator:
                  propertyName: type
                  mapping:
                    did_order_items: "#/components/schemas/DidOrderItem"
                    capacity_order_items: "#/components/schemas/CapacityOrderItem"
                    emergency_order_items: "#/components/schemas/EmergencyOrderItem"
                    generic_order_items: "#/components/schemas/GenericOrderItem"
    OrderDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Order"
        meta:
          "$ref": "#/components/schemas/Meta"
    OrderCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Order"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    OrderCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - orders
            attributes:
              type: object
              properties:
                items:
                  type: array
                  minItems: 1
                  description: Items to order. Every item must be of the same `type` — one order buys numbers or channels, never both.
                  items:
                    description: An item to order. The accepted `attributes` are determined by `type`.
                    anyOf:
                    - "$ref": "#/components/schemas/DidOrderItemRequest"
                    - "$ref": "#/components/schemas/CapacityOrderItemRequest"
                    discriminator:
                      propertyName: type
                      mapping:
                        did_order_items: "#/components/schemas/DidOrderItemRequest"
                        capacity_order_items: "#/components/schemas/CapacityOrderItemRequest"
                allow_back_ordering:
                  type: boolean
                  default: true
                  description: Place the order even when some numbers are not immediately available. Defaults to true; send false to have the order rejected instead.
                callback_url:
                  type: string
                  nullable: true
                  description: 'URL notified when the order completes. A value with no scheme is accepted and read as `http://`; only `http` and `https` are allowed. Send `callback_url` and `callback_method` together: one without the other is rejected.'
                  format: uri
                callback_method:
                  type: string
                  nullable: true
                  enum:
                  - get
                  - post
                  -
                  description: 'HTTP method used for the callback. Send `callback_url` and `callback_method` together: one without the other is rejected.'
                external_reference_id:
                  type: string
                  description: Customer's own identifier.
                  nullable: true
                  maxLength: 100
              required:
              - items
              anyOf:
              - required:
                - callback_url
                - callback_method
              - not:
                  anyOf:
                  - required:
                    - callback_url
                  - required:
                    - callback_method
    OrderUpdateRequest:
      type: object
      description: Only the external reference of a placed order can be changed.
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            type:
              type: string
              enum:
              - orders
            id:
              type: string
              format: uuid
              example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
            attributes:
              type: object
              properties:
                external_reference_id:
                  type: string
                  description: Customer's own identifier.
                  nullable: true
                  maxLength: 100
    DidOrderItem:
      type: object
      description: Numbers bought from a stock keeping unit.
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - did_order_items
        attributes:
          type: object
          required:
          - qty
          - nrc
          - mrc
          - prorated_mrc
          - billed_from
          - billed_to
          - did_group_id
          - setup_price
          - monthly_price
          properties:
            qty:
              type: integer
              description: Units ordered.
              example: 1
            nrc:
              type: string
              description: Non-recurring (setup) charge, VAT included, as a decimal string.
              example: '2.1'
            mrc:
              type: string
              description: Monthly recurring charge, VAT included, as a decimal string.
              example: '1.5'
            prorated_mrc:
              type: boolean
              description: True when `mrc` was prorated to the remainder of the billing period.
            billed_from:
              type: string
              format: date
              nullable: true
              description: Start of the billed period. Null until the item is filled.
            billed_to:
              type: string
              format: date
              nullable: true
              description: End of the billed period. Null until the item is filled.
            did_group_id:
              type: string
              format: uuid
              nullable: true
              description: DID group the numbers came from.
            setup_price:
              type: string
              deprecated: true
              description: Deprecated alias of `nrc`, kept for backward compatibility.
              example: '2.1'
            monthly_price:
              type: string
              deprecated: true
              description: Deprecated alias of `mrc`, kept for backward compatibility.
              example: '1.5'
    CapacityOrderItem:
      type: object
      description: Channels bought for a capacity pool.
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - capacity_order_items
        attributes:
          type: object
          required:
          - qty
          - nrc
          - mrc
          - prorated_mrc
          - billed_from
          - billed_to
          - capacity_pool_id
          properties:
            qty:
              type: integer
              description: Units ordered.
              example: 1
            nrc:
              type: string
              description: Non-recurring (setup) charge, VAT included, as a decimal string.
              example: '2.1'
            mrc:
              type: string
              description: Monthly recurring charge, VAT included, as a decimal string.
              example: '1.5'
            prorated_mrc:
              type: boolean
              description: True when `mrc` was prorated to the remainder of the billing period.
            billed_from:
              type: string
              format: date
              nullable: true
              description: Start of the billed period. Null until the item is filled.
            billed_to:
              type: string
              format: date
              nullable: true
              description: End of the billed period. Null until the item is filled.
            capacity_pool_id:
              type: string
              format: uuid
              nullable: true
              description: Capacity pool the channels were added to.
    EmergencyOrderItem:
      type: object
      description: Emergency calling activated on a DID.
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - emergency_order_items
        attributes:
          type: object
          required:
          - qty
          - nrc
          - mrc
          - prorated_mrc
          - billed_from
          - billed_to
          - emergency_calling_service_id
          properties:
            qty:
              type: integer
              description: Units ordered.
              example: 1
            nrc:
              type: string
              description: Non-recurring (setup) charge, VAT included, as a decimal string.
              example: '2.1'
            mrc:
              type: string
              description: Monthly recurring charge, VAT included, as a decimal string.
              example: '1.5'
            prorated_mrc:
              type: boolean
              description: True when `mrc` was prorated to the remainder of the billing period.
            billed_from:
              type: string
              format: date
              nullable: true
              description: Start of the billed period. Null until the item is filled.
            billed_to:
              type: string
              format: date
              nullable: true
              description: End of the billed period. Null until the item is filled.
            emergency_calling_service_id:
              type: string
              format: uuid
              nullable: true
              description: Emergency calling service the item created.
    GenericOrderItem:
      type: object
      description: Any other charge — the fallback for order services without a dedicated item type.
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - generic_order_items
        attributes:
          type: object
          required:
          - qty
          - nrc
          - mrc
          - prorated_mrc
          - billed_from
          - billed_to
          properties:
            qty:
              type: integer
              description: Units ordered.
              example: 1
            nrc:
              type: string
              description: Non-recurring (setup) charge, VAT included, as a decimal string.
              example: '2.1'
            mrc:
              type: string
              description: Monthly recurring charge, VAT included, as a decimal string.
              example: '1.5'
            prorated_mrc:
              type: boolean
              description: True when `mrc` was prorated to the remainder of the billing period.
            billed_from:
              type: string
              format: date
              nullable: true
              description: Start of the billed period. Null until the item is filled.
            billed_to:
              type: string
              format: date
              nullable: true
              description: End of the billed period. Null until the item is filled.
    DidOrderItemRequest:
      type: object
      description: 'Buy numbers from a stock keeping unit. At most one of `qty`, `did_reservation_id` and `available_did_id` may be sent: more than one is rejected, and sending none of them buys one number.'
      required:
      - type
      - attributes
      properties:
        type:
          type: string
          enum:
          - did_order_items
        attributes:
          type: object
          required:
          - sku_id
          properties:
            sku_id:
              type: string
              format: uuid
              description: Stock keeping unit to buy from.
            qty:
              type: integer
              minimum: 1
              maximum: 1000
              description: How many numbers to buy from the SKU.
            did_reservation_id:
              type: string
              format: uuid
              description: Buy the number held by this reservation.
            available_did_id:
              type: string
              format: uuid
              description: Buy this specific available number.
            nanpa_prefix_id:
              type: string
              format: uuid
              description: Restrict the numbers to this NANPA prefix.
            billing_cycles_count:
              type: integer
              minimum: 0
              maximum: 999
              description: Billing cycles to keep the numbers for before releasing them. Omit to renew indefinitely.
[...]
