---
openapi: 3.0.3
info:
  title: DIDWW Public API
  version: '2026-04-16'
  description: |
    JSONAPI interface to the DIDWW platform: browse coverage, order and manage DIDs,
    route them to voice trunks, and reserve numbers before purchase.

    Every request is authenticated with an `api-key` header. Versions are selected
    per request with the `X-DIDWW-Api-Version` header, defaulting to the
    version configured for the API key's customer; this document describes
    `2026-04-16`.
servers:
- url: https://api.didww.com/v3
  description: Production
- url: https://sandbox-api.didww.com/v3
  description: Sandbox
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api-key
      in: header
      description: API key issued to the customer in the DIDWW user panel.
  schemas:
    Meta:
      type: object
      required:
      - api_version
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
    CollectionMeta:
      type: object
      required:
      - api_version
      - total_records
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_records:
          type: integer
          description: Total number of records matching the request.
    ResourceIdentifier:
      type: object
      description: JSONAPI resource identifier object.
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: Resource type, e.g. `voice_in_trunks`.
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
    RelationshipLinks:
      type: object
      required:
      - self
      - related
      properties:
        self:
          type: string
          format: uri
          description: Relationship linkage endpoint.
        related:
          type: string
          format: uri
          description: Related resource endpoint.
    RelationshipToOne:
      type: object
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          "$ref": "#/components/schemas/ResourceIdentifier"
          nullable: true
          description: Linkage. Present only when the relationship is requested via `include`; null when nothing is related.
    RelationshipToMany:
      type: object
      required:
      - links
      properties:
        links:
          "$ref": "#/components/schemas/RelationshipLinks"
        data:
          type: array
          description: Linkage. Present only when the relationship is requested via `include`.
          items:
            "$ref": "#/components/schemas/ResourceIdentifier"
    PaginationLinks:
      type: object
      description: Pagination links. `next` / `prev` are omitted at the respective ends of the collection.
      required:
      - first
      - last
      properties:
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        next:
          type: string
          format: uri
        prev:
          type: string
          format: uri
    Error:
      type: object
      required:
      - title
      - detail
      - code
      - status
      properties:
        title:
          type: string
          example: Filter not allowed
        detail:
          type: string
          example: bogus is not allowed.
        code:
          type: string
          description: 'JSONAPI error code. Not an HTTP status: `100` is a validation error, `102` a disallowed filter, `106` a missing parameter, and so on.'
          example: '102'
        status:
          type: string
          description: HTTP status as a string.
          example: '400'
        source:
          type: object
          description: Points at the part of the request that caused the error. Present on validation errors.
          required:
          - pointer
          properties:
            pointer:
              type: string
              example: "/data/attributes/capacity_limit"
        meta:
          type: object
          description: Error-specific details. Carried by a few errors (e.g. insufficient balance).
    ErrorsDocument:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            "$ref": "#/components/schemas/Error"
    PublicKey:
      type: object
      description: An RSA public key for encrypting regulation file uploads.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - public_keys
        attributes:
          type: object
          required:
          - key
          properties:
            key:
              type: string
              description: PEM-encoded RSA public key.
              example: |
                -----BEGIN PUBLIC KEY-----
                ...
                -----END PUBLIC KEY-----
    PublicKeyCollectionDocument:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PublicKey"
    Country:
      type: object
      description: A country DIDWW has, or may have, coverage in.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - countries
        attributes:
          type: object
          required:
          - name
          - prefix
          - iso
          properties:
            name:
              type: string
              example: United Kingdom
            prefix:
              type: string
              nullable: true
              description: International dialling prefix, without a leading `+`.
              example: '44'
            iso:
              type: string
              description: ISO 3166-1 alpha-2 code.
              example: GB
        relationships:
          type: object
          required:
          - regions
          properties:
            regions:
              "$ref": "#/components/schemas/RelationshipToMany"
    CountryDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Country"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    CountryCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Country"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    Region:
      type: object
      description: A region (state, province) of a country.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - regions
        attributes:
          type: object
          required:
          - name
          - iso
          properties:
            name:
              type: string
              example: California
            iso:
              type: string
              nullable: true
              description: ISO 3166-2 subdivision code, without the country part.
              example: CA
        relationships:
          type: object
          required:
          - country
          properties:
            country:
              "$ref": "#/components/schemas/RelationshipToOne"
    RegionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Region"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    RegionCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Region"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    City:
      type: object
      description: A city DIDWW has, or may have, coverage in.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - cities
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: London
        relationships:
          type: object
          required:
          - country
          - region
          - area
          properties:
            country:
              "$ref": "#/components/schemas/RelationshipToOne"
            region:
              "$ref": "#/components/schemas/RelationshipToOne"
            area:
              "$ref": "#/components/schemas/RelationshipToOne"
    CityDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/City"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    CityCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/City"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Area:
      type: object
      description: A regulatory area within a country.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - areas
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Greater London
        relationships:
          type: object
          required:
          - country
          properties:
            country:
              "$ref": "#/components/schemas/RelationshipToOne"
    AreaDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Area"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    AreaCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Area"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Pop:
      type: object
      description: A DIDWW point of presence.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - pops
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Frankfurt
    PopCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Pop"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupType:
      type: object
      description: The kind of number a DID group offers.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_group_types
        attributes:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              example: Local
    DidGroupTypeDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidGroupType"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupTypeCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidGroupType"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidGroup:
      type: object
      description: A block of numbers sharing a country, city, type and prefix.
      required:
      - id
      - type
      - attributes
      - relationships
      - meta
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_groups
        attributes:
          type: object
          required:
          - prefix
          - area_name
          - features
          - is_metered
          - allow_additional_channels
          - service_restrictions
          properties:
            prefix:
              type: string
              description: Full dialling prefix of the group, including the country code.
              example: '4420'
            area_name:
              type: string
              description: Human-readable area the group covers.
              example: London
            features:
              type: array
              description: Services the numbers in this group support.
              items:
                type: string
                enum:
                - voice_in
                - voice_out
                - t38
                - sms_in
                - p2p
                - a2p
                - emergency
                - cnam_out
            is_metered:
              type: boolean
              description: True when inbound minutes are billed per minute rather than included.
            allow_additional_channels:
              type: boolean
              description: True when extra channels can be bought for a DID from this group.
            service_restrictions:
              type: string
              nullable: true
              description: Restrictions that apply to numbers in this group, if any.
        relationships:
          type: object
          required:
          - country
          - city
          - did_group_type
          - region
          - stock_keeping_units
          - address_requirement
          properties:
            country:
              "$ref": "#/components/schemas/RelationshipToOne"
            city:
              "$ref": "#/components/schemas/RelationshipToOne"
            did_group_type:
              "$ref": "#/components/schemas/RelationshipToOne"
            region:
              "$ref": "#/components/schemas/RelationshipToOne"
            stock_keeping_units:
              "$ref": "#/components/schemas/RelationshipToMany"
            address_requirement:
              "$ref": "#/components/schemas/RelationshipToOne"
        meta:
          type: object
          properties:
            available_dids_enabled:
              type: boolean
              description: True when specific numbers from this group can be picked through /available_dids rather than bought in bulk.
            needs_registration:
              type: boolean
              description: True when buying from this group requires a verified address.
            is_available:
              type: boolean
              description: True when numbers are currently in stock.
            total_count:
              type: integer
              description: Numbers currently in stock.
          required:
          - available_dids_enabled
    DidGroupDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidGroup"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidGroupCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidGroup"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    StockKeepingUnit:
      type: object
      description: A priced offer within a DID group — what an order item buys.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - stock_keeping_units
        attributes:
          type: object
          required:
          - setup_price
          - monthly_price
          - channels_included_count
          properties:
            setup_price:
              type: string
              description: One-off charge, VAT excluded, as a decimal string.
              example: '2.00'
            monthly_price:
              type: string
              description: Recurring monthly charge, VAT excluded, as a decimal string.
              example: '1.50'
            channels_included_count:
              type: integer
              description: Simultaneous calls included in the monthly price.
    NanpaPrefix:
      type: object
      description: A NANPA NPA-NXX prefix.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - nanpa_prefixes
        attributes:
          type: object
          required:
          - npa
          - nxx
          properties:
            npa:
              type: string
              description: Area code.
              example: '212'
            nxx:
              type: string
              description: Central office code.
              example: '555'
        relationships:
          type: object
          required:
          - country
          - region
          properties:
            country:
              "$ref": "#/components/schemas/RelationshipToOne"
            region:
              "$ref": "#/components/schemas/RelationshipToOne"
    NanpaPrefixDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/NanpaPrefix"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    NanpaPrefixCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/NanpaPrefix"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    AvailableDid:
      type: object
      description: A specific number currently in stock and orderable.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - available_dids
        attributes:
          type: object
          required:
          - number
          properties:
            number:
              type: string
              description: Full number in E.164 without the leading `+`.
              example: '442037691880'
        relationships:
          type: object
          required:
          - did_group
          - nanpa_prefix
          properties:
            did_group:
              "$ref": "#/components/schemas/RelationshipToOne"
            nanpa_prefix:
              "$ref": "#/components/schemas/RelationshipToOne"
    AvailableDidDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/AvailableDid"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    AvailableDidCollectionDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/AvailableDid"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/AvailableDidCollectionMeta"
    AvailableDidCollectionMeta:
      type: object
      required:
      - api_version
      - total_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_count:
          type: integer
          description: Numbers matching the filters. The response itself is capped, so this can exceed the size of `data`.
    DidReservation:
      type: object
      description: A hold on an available DID.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_reservations
        attributes:
          type: object
          required:
          - description
          - created_at
          - expires_at
          properties:
            description:
              type: string
              nullable: true
              description: Free-form customer note.
            created_at:
              type: string
              format: date-time
            expires_at:
              type: string
              format: date-time
              description: When the hold lapses and the number returns to the pool.
        relationships:
          type: object
          required:
          - available_did
          properties:
            available_did:
              "$ref": "#/components/schemas/RelationshipToOne"
    DidReservationDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/DidReservationMeta"
    DidReservationMeta:
      type: object
      required:
      - api_version
      - available_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        available_count:
          type: integer
          description: Reservations still available to the customer under its numbers-selection plan.
    DidReservationCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/DidReservationCollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidReservationCollectionMeta:
      type: object
      required:
      - api_version
      - total_records
      - available_count
      properties:
        api_version:
          type: string
          description: V3 API version that served the request.
          example: '2026-04-16'
        total_records:
          type: integer
          description: Total number of records matching the request.
        available_count:
          type: integer
          description: Reservations still available to the customer under its numbers-selection plan.
    DidReservationCreatedDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidReservation"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidReservationCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - relationships
          properties:
            type:
              type: string
              enum:
              - did_reservations
            attributes:
              type: object
              properties:
                description:
                  type: string
                  description: Free-form customer note.
            relationships:
              type: object
              properties:
                available_did:
                  type: object
                  description: The number to hold.
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
              required:
              - available_did
    Did:
      type: object
      description: A DID owned by the customer.
      required:
      - id
      - type
      - attributes
      - relationships
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - dids
        attributes:
          type: object
          required:
          - number
          - description
          - blocked
          - awaiting_registration
          - terminated
          - emergency_enabled
          - capacity_limit
          - channels_included_count
          - dedicated_channels_count
          - billing_cycles_count
          - created_at
          - expires_at
          properties:
            number:
              type: string
              description: Full DID number in E.164 without the leading `+`.
              example: '442037691880'
            description:
              type: string
              nullable: true
              description: Free-form customer note.
            blocked:
              type: boolean
              description: True while the DID cannot receive traffic — blocked by the customer, blocked by DIDWW, or awaiting registration.
            awaiting_registration:
              type: boolean
              description: True while the DID is waiting for regulatory registration to complete.
            terminated:
              type: boolean
              description: True once the DID has been cancelled. Set it to `true` to cancel the DID, back to `false` to restore it.
            emergency_enabled:
              type: boolean
              description: True when emergency calling is active on the DID.
            capacity_limit:
              type: integer
              nullable: true
              description: Maximum number of simultaneous calls. Null means no per-DID limit.
            channels_included_count:
              type: integer
              description: Channels included with the DID by its DID group.
            dedicated_channels_count:
              type: integer
              description: Additional channels purchased exclusively for this DID.
            billing_cycles_count:
              type: integer
              nullable: true
              description: Number of billing cycles left before the DID is released. Null means the DID renews indefinitely; `0` means it is pending removal.
            created_at:
              type: string
              format: date-time
            expires_at:
              type: string
              format: date-time
              nullable: true
              description: End of the current billing period.
        relationships:
          type: object
          required:
          - did_group
          - order
          - capacity_pool
          - shared_capacity_group
          - address_verification
          - voice_in_trunk
          - voice_in_trunk_group
          - emergency_calling_service
          - emergency_verification
          - identity
          properties:
            did_group:
              "$ref": "#/components/schemas/RelationshipToOne"
            order:
              "$ref": "#/components/schemas/RelationshipToOne"
            capacity_pool:
              "$ref": "#/components/schemas/RelationshipToOne"
            shared_capacity_group:
              "$ref": "#/components/schemas/RelationshipToOne"
            address_verification:
              "$ref": "#/components/schemas/RelationshipToOne"
            voice_in_trunk:
              "$ref": "#/components/schemas/RelationshipToOne"
            voice_in_trunk_group:
              "$ref": "#/components/schemas/RelationshipToOne"
            emergency_calling_service:
              "$ref": "#/components/schemas/RelationshipToOne"
            emergency_verification:
              "$ref": "#/components/schemas/RelationshipToOne"
            identity:
              "$ref": "#/components/schemas/RelationshipToOne"
    DidDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Did"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Did"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    DidUpdateRequest:
      type: object
      description: A DID can be routed to a voice_in_trunk or a voice_in_trunk_group, never both.
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            type:
              type: string
              enum:
              - dids
            id:
              type: string
              format: uuid
              example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
            attributes:
              type: object
              properties:
                capacity_limit:
                  type: integer
                  nullable: true
                  description: Maximum number of simultaneous calls. Null means no per-DID limit.
                description:
                  type: string
                  nullable: true
                  description: Free-form customer note.
                terminated:
                  type: boolean
                  description: True once the DID has been cancelled. Set it to `true` to cancel the DID, back to `false` to restore it.
                billing_cycles_count:
                  type: integer
                  nullable: true
                  description: Number of billing cycles left before the DID is released. Null means the DID renews indefinitely; `0` means it is pending removal.
                dedicated_channels_count:
                  type: integer
                  description: Additional channels purchased exclusively for this DID.
            relationships:
              type: object
              properties:
                capacity_pool:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
                shared_capacity_group:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
                address_verification:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
                voice_in_trunk:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
                voice_in_trunk_group:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
                emergency_calling_service:
                  type: object
                  description: 'Assigns or clears the related resource. Send `data: null` to clear it.'
                  required:
                  - data
                  properties:
                    data:
                      "$ref": "#/components/schemas/ResourceIdentifier"
                      nullable: true
    DidHistory:
      type: object
      description: One recorded change to a DID. Retained for the last 90 days.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - did_history
        attributes:
          type: object
          required:
          - did_number
          - action
          - method
          - created_at
          properties:
            did_number:
              type: string
              nullable: true
              description: The number the entry is about, in E.164 without the leading `+`.
              example: '442037691880'
            action:
              type: string
              description: What happened.
              enum:
              - assigned
              - renewed
              - canceled
              - removed
              - billing_cycles_count_changed
              - restored
            method:
              type: string
              description: How it happened — which interface performed the change.
              enum:
              - system
              - api2
              - api3
              - staff
              - user_panel
              - mcp
            created_at:
              type: string
              format: date-time
        meta:
          type: object
          properties:
            from:
              type: string
              nullable: true
              description: Previous value.
            to:
              type: string
              nullable: true
              description: New value.
    DidHistoryDocument:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/DidHistory"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/Meta"
    DidHistoryCollectionDocument:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/DidHistory"
        included:
          type: array
          description: Compound document. Present only when `include` was sent.
          items:
            oneOf:
            - "$ref": "#/components/schemas/PublicKey"
            - "$ref": "#/components/schemas/Country"
            - "$ref": "#/components/schemas/Region"
            - "$ref": "#/components/schemas/City"
            - "$ref": "#/components/schemas/Area"
            - "$ref": "#/components/schemas/Pop"
            - "$ref": "#/components/schemas/DidGroupType"
            - "$ref": "#/components/schemas/DidGroup"
            - "$ref": "#/components/schemas/StockKeepingUnit"
            - "$ref": "#/components/schemas/NanpaPrefix"
            - "$ref": "#/components/schemas/AvailableDid"
            - "$ref": "#/components/schemas/DidReservation"
            - "$ref": "#/components/schemas/Did"
            - "$ref": "#/components/schemas/DidHistory"
            - "$ref": "#/components/schemas/Order"
            - "$ref": "#/components/schemas/Balance"
            - "$ref": "#/components/schemas/Export"
            - "$ref": "#/components/schemas/CapacityPool"
            - "$ref": "#/components/schemas/QtyBasedPricing"
            - "$ref": "#/components/schemas/SharedCapacityGroup"
            - "$ref": "#/components/schemas/VoiceInTrunk"
            - "$ref": "#/components/schemas/VoiceInTrunkGroup"
            - "$ref": "#/components/schemas/VoiceOutTrunk"
            - "$ref": "#/components/schemas/VoiceOutTrunkRegenerateCredential"
            - "$ref": "#/components/schemas/Identity"
            - "$ref": "#/components/schemas/Address"
            - "$ref": "#/components/schemas/ProofType"
            - "$ref": "#/components/schemas/Proof"
            - "$ref": "#/components/schemas/SupportingDocumentTemplate"
            - "$ref": "#/components/schemas/PermanentSupportingDocument"
            - "$ref": "#/components/schemas/EncryptedFile"
            - "$ref": "#/components/schemas/AddressRequirement"
            - "$ref": "#/components/schemas/AddressRequirementValidation"
            - "$ref": "#/components/schemas/AddressVerification"
            - "$ref": "#/components/schemas/EmergencyRequirement"
            - "$ref": "#/components/schemas/EmergencyRequirementValidation"
            - "$ref": "#/components/schemas/EmergencyCallingService"
            - "$ref": "#/components/schemas/EmergencyVerification"
        meta:
          "$ref": "#/components/schemas/CollectionMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    Order:
      type: object
      description: An order. Orders have no relationships; their contents live in `items`.
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          format: uuid
          example: e5a4e2f1-3b26-4a5c-9a0a-2f7c1f3e8d10
        type:
          type: string
          enum:
          - orders
        attributes:
          type: object
          required:
          - reference
          - description
          - amount
          - status
          - created_at
          - callback_url
          - callback_method
          - external_reference_id
          - items
          properties:
            reference:
              type: string
              description: Human-readable order reference.
              example: KTH-650932
            description:
              type: string
              description: What was ordered.
              example: DID
            amount:
              type: string
              description: Total charged, VAT included, as a decimal string.
              example: '3.6'
            status:
              type: string
              enum:
              - pending
              - completed
              - canceled
              description: "`pending` while the order is being fulfilled."
            created_at:
              type: string
              format: date-time
            callback_url:
              type: string
              nullable: true
              description: URL notified when the order completes.
            callback_method:
              type: string
              nullable: true
              enum:
              - get
              - post
              -
              description: HTTP method used for the callback.
            external_reference_id:
              type: string
              nullable: true
              description: Customer's own identifier for the order.
            items:
              type: array
              description: What the order consists of.
              items:
                description: An ordered item. The shape of `attributes` is determined by `type`.
                anyOf:
                - title: DidOrderItem
                  type: object
                  description: Numbers bought from a stock keeping unit.
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - did_order_items
                    attributes:
                      type: object
                      required:
                      - qty
                      - nrc
                      - mrc
                      - prorated_mrc
                      - billed_from
                      - billed_to
                      - did_group_id
                      - setup_price
                      - monthly_price
                      properties:
                        qty:
                          type: integer
                          description: Units ordered.
                          example: 1
                        nrc:
                          type: string
                          description: Non-recurring (setup) charge, VAT included, as a decimal string.
                          example: '2.1'
                        mrc:
                          type: string
                          description: Monthly recurring charge, VAT included, as a decimal string.
                          example: '1.5'
                        prorated_mrc:
                          type: boolean
                          description: True when `mrc` was prorated to the remainder of the billing period.
                        billed_from:
                          type: string
                          format: date
                          nullable: true
                          description: Start of the billed period. Null until the item is filled.
                        billed_to:
                          type: string
                          format: date
                          nullable: true
                          description: End of the billed period. Null until the item is filled.
                        did_group_id:
                          type: string
                          format: uuid
                          nullable: true
                          description: DID group the numbers came from.
                        setup_price:
                          type: string
                          description: Deprecated alias of `nrc`, kept for backward compatibility.
                          example: '2.1'
                        monthly_price:
                          type: string
                          description: Deprecated alias of `mrc`, kept for backward compatibility.
                          example: '1.5'
                - title: CapacityOrderItem
                  type: object
                  description: Channels bought for a capacity pool.
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - capacity_order_items
                    attributes:
                      type: object
[...]
